/* Example styling of a h1 element */
h1 {
  color: black;
}

p {
  color: black;
}

body {
  background-color: white;
}

.attribute {
  font-weight: bold;
}

a:link {
  color: brown;
}

a:visited {
  color:rgb(143, 74, 97)
}

a:hover {
  text-decoration: none;
}

*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

image {
  height: 2cm;
  width: 3cm;
}
